:root {
  --headers-color: #2e2f42;
  --primary-color: #434455;
  --secondary-color: #4d5ae5;
  --primary-body-color: #ffffff;
  --secondary-body-color: #f4f4fd;
  --border-color: #e7e9fc;
  --accent-color: #404bbf;
}

/* RESET (cкинути дефолтні стилі для елементів) */

button {
  cursor: pointer;
  border: none;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;

  padding: 0;
}

address {
  font-style: normal;
  font: inherit;
}

/* загальні стилі для багатьох різних елементів */
.container {
  width: 1158px;

  margin: 0 auto;
  padding: 0 15px;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-body-color);
  font-family: Roboto, sans-serif;
}

.nav,
.header,
.add-container,
.team-list,
.features-list,
.work-list,
.nav-container,
.portfolio-btn-list,
.portfolio-card-list {
  display: flex;
}

/* section header */

header {
  background-color: var(--primary-body-color);
  border-bottom: 1px solid var(--border-color);
}

.container.header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web {
  color: var(--secondary-color);
}

.web-one {
  color: var(--headers-color);
}

.nav-link {
  text-decoration: none;
  color: var(--headers-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav {
  align-items: center;
}

.nav-link,
.add-info {
  padding: 24px 0;
}

.add-container {
  gap: 40px;
}

.add-item {
  padding: 0px;
}

.add-info {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.add-info:hover,
.add-info:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* section footer */

.footer {
  background-color: var(--headers-color);
  padding: 100px 0;
}

.web-two {
  color: var(--secondary-body-color);
}

footer .logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--secondary-body-color);
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* HOME PAGE */
/* section hero */

.hero-btn {
  display: block;
  background-color: var(--secondary-color);
  color: var(--secondary-body-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  border-radius: 4px;

  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.hero {
  background-color: var(--headers-color);
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
}

.hero-title {
  text-align: center;
  color: var(--secondary-body-color);
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  margin-left: auto;
  margin-right: auto;
}

/* section features */

.features-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.features-title {
  visibility: hidden;
}

.features-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* section what we are doin (our work) */

.work-title,
.team-title {
  text-transform: capitalize;
  color: var(--headers-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.work {
  padding-bottom: 120px;
}

/* section team */

.team {
  background-color: var(--secondary-body-color);
}

.team-item {
  background-color: var(--secondary-body-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  text-align: center;
  padding: 32px 16px;
}

.features-list,
.work-list,
.team-list {
  gap: 24px;
}

.features,
.team {
  padding: 120px 0;
}

.features-sub-title,
.team-name {
  margin-bottom: 8px;
}

/* PORTFOLIO PAGE */

.portfolio-title {
  display: none;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn {
  background-color: var(--secondary-body-color);
  color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  padding: 12px 24px;
}

.portfolio-btn-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-text {
  color: var(--primary-color);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 400;
}

.portfolio-card-title {
  color: var(--headers-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.portfolio-card-list {
  flex-wrap: wrap;
}

.portfolio-card-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-card-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-info {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 32px 16px;
  /* padding-left: 16px; */
}
